h1
{
	font-family: "Tahoma";
	text-align: center;
	font-size: 40px;
	font-weight: bold;
}

p
{
	font-family: "Tahoma";
	text-align: left;
	font-size: 16px;
	line-height: 30px;
}

table
{
	font-family: "Tahoma";
	text-align: left;
	font-size: 16px;
	border-style: solid;
	border-width: 1px;
	border-spacing: 5px 5px;
}